<footer class="footer-3 text-center-xs space--xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-6"> <img alt="Image" class="logo" src="https://cdn.belajar.work/img/logo-hitam.png">
        <ul class="list-inline list--hover">
          <li> <a href="#"><span class="type--fine-print">Get Started</span></a> </li>
          <li> <a href="#"><span class="type--fine-print">help@belajar.work</span></a> </li>
        </ul>
      </div>
      <div class="col-sm-6 text-right text-center-xs">
        <ul class="social-list list-inline list--hover">
          <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
          <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
          <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
          <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p class="type--fine-print">Improve your skill workflow. </p>
      </div>
      <div class="col-sm-6 text-right text-center-xs"> <span class="type--fine-print">© <span class="update-year">2018</span> Belajar.Work</span> <a class="type--fine-print" href="#">Privacy Policy</a> <a class="type--fine-print" href="#">Legal</a> </div>
    </div>
  </div>
</footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-suppress-warning': 'false' %>

</body>

</html>